@charset "UTF-8";
html, body {
  margin: 0;
  width: 1048px;
  height: 600px; }

body {
  font-size: 16px;
  font-family: "Fira Code", monospace;
  background-color: transparent; }

address {
  position: relative;
  font-style: inherit; }
  address .link-list a:after {
    content: ','; }
  address .link-list a.head:after {
    content: ':'; }
  address .link-list a:last-child:after {
    content: ''; }
  address .link-list a:after {
    display: inline-block; }

sub {
  vertical-align: baseline;
  font-size: x-small; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.inline {
  display: inline; }

.normal-font-size {
  font-size: 1em; }

.align-right {
  position: absolute;
  right: 0; }

.version {
  font-family: sans-serif; }

#canvas-container {
  letter-spacing: -2px;
  line-height: 26px; }
  #canvas-container canvas {
    color: grey; }

.control-panel {
  font-size: 14px;
  position: fixed;
  top: 296px;
  left: 256px;
  width: 512px;
  height: 288px;
  padding: 8px;
  overflow-y: scroll;
  background-color: #838383;
  border-radius: 0 8px 8px;
  transition: opacity 0.2s; }
  .control-panel.inactive {
    opacity: 0;
    z-index: -1; }
  .control-panel.active {
    opacity: 1;
    z-index: auto; }
  .control-panel > div {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black; }
    .control-panel > div:last-of-type, .control-panel > div.half-width, .control-panel > div.no-divider {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0; }
    .control-panel > div.vertical-space-but-no-divider {
      padding: 0.5em 0;
      border-bottom: 0; }
    .control-panel > div.after-margin {
      margin-bottom: 0.5em;
      padding-bottom: 0.5em; }
    .control-panel > div.top-divider {
      padding-top: 0.5em;
      margin-top: 0.5em;
      border-top: 1px solid black; }
    .control-panel > div.va-top, .control-panel > div.half-width {
      vertical-align: top; }
    .control-panel > div.half-width {
      width: 48%;
      display: inline-block; }
  .control-panel b {
    display: block;
    margin-bottom: 0.5em; }
    .control-panel b.inline {
      display: inline; }
  .control-panel label {
    display: inline-block; }
  .control-panel address a {
    color: #171717; }
  .control-panel .after-margin {
    margin-bottom: 0.25em; }
    .control-panel .after-margin.button-container, .control-panel .after-margin.multiline-button-container {
      line-height: 2em;
      margin-top: -0.25em; }
    .control-panel .after-margin.button-container {
      margin-bottom: 0.035em; }
    .control-panel .after-margin.one-button-each-line, .control-panel .after-margin.two-buttons-each-line {
      line-height: 2em; }
      .control-panel .after-margin.one-button-each-line button.inactive, .control-panel .after-margin.two-buttons-each-line button.inactive {
        display: none; }
    .control-panel .after-margin.one-button-each-line button {
      display: block;
      margin-bottom: 0.55em; }
    .control-panel .after-margin.two-buttons-each-line div {
      line-height: 0; }
      .control-panel .after-margin.two-buttons-each-line div button {
        display: inline-block; }
  .control-panel span.after-margin {
    display: block; }
  .control-panel .full-width {
    display: block; }
  .control-panel .inactive {
    display: none; }
  .control-panel .description {
    font-size: 0.8em; }
    .control-panel .description b {
      display: inline; }
  .control-panel div.cpMessage {
    padding: 0.5em;
    border-radius: 8px; }
    .control-panel div.cpMessage:before {
      font-family: Segoe UI Emoji, monospace;
      margin-right: 0.2em; }
    .control-panel div.cpMessage.caution {
      background-color: #c1c08b; }
      .control-panel div.cpMessage.caution:before {
        content: '⚠️ '; }
    .control-panel div.cpMessage.info {
      background-color: #8ba8c1; }
      .control-panel div.cpMessage.info:before {
        content: 'ℹ️ '; }
  @media (max-height: 599px) and (orientation: landscape) {
    .control-panel {
      height: auto;
      bottom: 0; } }

/*# sourceMappingURL=main.css.map */