body {
  background-color: rgba(0, 0, 0, 0);
  line-height: 1em;
  margin: 0;
  font-family: "Fira Code"; }

div[id^="gp"] {
  text-shadow: 0px 0px 3px black;
  width: 178px;
  height: 77px;
  /*
	Id:       Xbox 360 Controller (XInput STANDARD GAMEPAD)
	Buttons:  0A 1B 2X 3Y 4LB 5RB 6LT 7RT 8Select 9Start 10LThumb 11RThumb 12DPadU 13DPadD 14DPadL 15DPadR
	Axes:     0LThumbX 1LThumbY 2RThumbX 3RThumbY
	*/
  /*
	Id:       Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)
	Buttons:  0X 1O 2[] 3/\ 4LB 5RB 6LT 7RT 8Share 9Option 10LThumb 11RThumb 12DPadU 13DPadD 14DPadL 15DPadR 16PS 17TouchClick
	Axes:     0LThumbX 1LThumbY 2RThumbX 3RThumbY
	*/ }
  div[id^="gp"] div.buttons span.button {
    position: fixed;
    background: url(../dot.png);
    background-repeat: no-repeat;
    background-size: 0% 0%;
    background-position: 0% 0%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  div[id^="gp"] div.axes span.axis {
    display: block;
    position: fixed;
    box-shadow: 0px 0px 3px black;
    width: 3.4em;
    height: 3.4em;
    border: 1px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
    div[id^="gp"] div.axes span.axis span {
      display: block;
      position: relative;
      box-shadow: 0px 0px 3px #404040;
      background: url(../dot.png);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(4), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(4), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(4) {
    left: 9.025em;
    top: 1.25em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(3), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(3), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(3) {
    left: 7.775em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(2), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(2), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(2) {
    left: 10.22812em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(1), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(1), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(1) {
    left: 9.025em;
    top: 3.75em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(5), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(5), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(5) {
    left: 0em;
    top: 0em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(7), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(7), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(7) {
    left: 2.45312em;
    top: 0em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(8), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(8), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(8) {
    left: 7.5em;
    top: 0em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(6), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(6), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(6) {
    left: 9.95312em;
    top: 0em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(17), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(17), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(17) {
    left: 5em;
    top: 1.25em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(9), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(9), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(9) {
    left: 3.75em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(10), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(10), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(10) {
    left: 6.20312em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(13), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(13), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(13) {
    left: 1.525em;
    top: 1.25em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(15), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(15), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(15) {
    left: 0.275em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(16), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(16), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(16) {
    left: 2.72813em;
    top: 2.5em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.buttons span.button:nth-child(14), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.buttons span.button:nth-child(14), div[id^="gp"][class="xinput"] div.buttons span.button:nth-child(14) {
    left: 1.525em;
    top: 3.75em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.axes span.axis:nth-child(1), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.axes span.axis:nth-child(1), div[id^="gp"][class="xinput"] div.axes span.axis:nth-child(1) {
    left: 0.05em;
    top: 1.25em; }
  div[id^="gp"][class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"] div.axes span.axis:nth-child(2), div[id^="gp"][class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"] div.axes span.axis:nth-child(2), div[id^="gp"][class="xinput"] div.axes span.axis:nth-child(2) {
    left: 7.55em;
    top: 1.25em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(4), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(4), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(4) {
    left: 9.025em;
    top: 1.25em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(3), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(3), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(3) {
    left: 7.775em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(2), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(2), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(2) {
    left: 10.22812em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(1), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(1), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(1) {
    left: 9.025em;
    top: 3.75em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(5), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(5), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(5) {
    left: 0em;
    top: 0em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(7), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(7), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(7) {
    left: 2.45312em;
    top: 0em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(8), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(8), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(8) {
    left: 7.5em;
    top: 0em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(6), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(6), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(6) {
    left: 9.95312em;
    top: 0em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(9), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(9), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(9) {
    left: 3.75em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(10), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(10), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(10) {
    left: 6.25em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(13), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(13), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(13) {
    left: 1.525em;
    top: 1.25em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(15), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(15), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(15) {
    left: 0.275em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(16), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(16), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(16) {
    left: 2.72813em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(14), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(14), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(14) {
    left: 1.525em;
    top: 3.75em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(17), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(17), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(17) {
    left: 5em;
    top: 3.75em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.buttons span.button:nth-child(18), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(18), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.buttons span.button:nth-child(18) {
    left: 5em;
    top: 2.5em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.axes span.axis:nth-child(1), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.axes span.axis:nth-child(1), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.axes span.axis:nth-child(1) {
    left: 0.05em;
    top: 1.25em; }
  div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"] div.axes span.axis:nth-child(2), div[id^="gp"][class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.axes span.axis:nth-child(2), div[id^="gp"][class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] div.axes span.axis:nth-child(2) {
    left: 7.55em;
    top: 1.25em; }
  div[id^="gp"][class="Unknown Gamepad (Vendor: 0000 Product: 0000)"] {
    display: none; }

div#popupButton {
  position: absolute;
  left: 27.5em;
  top: 10em;
  border: 0px solid black;
  box-shadow: inset 0px 0px 4px grey;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 1em .6em;
  background-color: rgba(0, 0, 0, 0);
  color: gray; }
  div#popupButton:hover {
    background-color: rgba(196, 196, 196, 0.5);
    cursor: pointer; }
