$default-font-size: 16px;
$canvas-width: 256px;
$canvas-height: $canvas-width * 9 / 16;
$canvas-gap: 8px;
$body-background-color: black;
$panel-background-color: #303030;
$panel-background-color-brighter: #5e5e5e;
$panel-text-color: #9f9f9f;
$panel-text-color-brighter: #b4b4b4;
$panel-text-color-brightest: #c1c1c1;
$panel-text-color-brightester: #cacaca;
$panel-text-color-brightestest: #cfcfcf;
$panel-text-color-darker: #838383;
$panel-text-color-darkest: #5e5e5e;
$panel-interaction-text-color: #b4b4b4;
$panel-interaction-background-color: #1f1f1f;
$panel-interaction-border-color: #9f9f9f;
$panel-interaction-border-radius: 4px;
$panel-border-radius: 8px;
$panel-textarea-background-color: rgba(48, 48, 48, 0.8);
