@import 'common';

#canvas-container {
  @each $slider-value, $width in (1: 1, 2: 2, 3: 4) {
    &[data-width='#{$slider-value}'] {
      width:
        $width * $canvas-width +
        ( $width - 1 ) * $canvas-gap;
      height:
        ( 4 / $width ) * $canvas-height +
        ( 4 / $width - 1) * $canvas-gap;
    }
  }
  
  & > div {
    display: inline-block;
    position: relative;
    width: $canvas-width;
    height: $canvas-height;
    div, canvas {
      position: absolute;
    }
    div {
      top: 0;
      left: 0;
      width: $canvas-width;
      height: $canvas-height;
      background-repeat: no-repeat;
    }
  }
}
