@import 'common';

#control-panel {
  div.option {
    button {
      text-align: left;
      word-break: break-word;
      span {
        font-size: 0.7em;
      }
    }
    input.with-hashmark {
      width: 100%;
      margin: 0;
    }
    datalist.hashmark {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    &.half-width {
      & > label {
        width: 100%;
        // put this relative so input elements can be aligned to the right
        position: relative;
        span {
          vertical-align: middle;
        }
        input[type=text] {
          width: 60%;
          position: absolute;
          right: 0;
        }
      }
    }
    
    // item specific styles
    &[data-name="custom-skin"] {
      .file-input-container {
        position: relative;
        &.inactive {
          #currentlyLoadedCustomSkin, button[data-name="remove"] {
            display: none;
          }
        }
      }
      #currentlyLoadedCustomSkin {
        display: inline-block;
        &.inactive { display: none; }
        width: 70%;
        height: 1.25em;
        vertical-align: middle;
        overflow: hidden;
        word-break: break-all;
        &:before {
          content: 'Currently Loaded: ';
          font-size: 0.75em;
        }
      }
    }
  }
}
