@import 'common';

#control-panel {
  $control-panel-font-size: 14px;
  font-size: $control-panel-font-size;
  position: fixed;
  top: 2 * $canvas-height + $canvas-gap;
  left: 2 * $canvas-width + $canvas-gap;
  width: 2 * ( $canvas-width + $canvas-gap ) - $default-font-size;
  height: 2 * ( $canvas-height + $canvas-gap ) - $default-font-size;
  padding: 0.5 * $default-font-size;
  overflow-y: scroll;
  background-color: gray;
  border-radius: 0 8px 8px;
  
  div.option {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
    &:last-of-type, &.no-divider {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    &.top-divider {
      padding-top: 0.5em;
      margin-top: 0.5em;
      border-top: 1px solid black;
    }
    .after-margin {
      margin-bottom: 0.25em;
    }
    .inactive {
      display: none;
    }
    .description {
      font-size: 0.8em;
    }
    
    h1 {
      font-size: 1em;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-bottom: 0.5em;
    }
    label {
      display: inline-block;
    }
    input.with-hashmark {
      width: 100%;
      margin: 0;
    }
    datalist.hashmark {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    &.va-top {
      vertical-align: top;
    }
    &.half-width {
      width: 48%;
      display: inline-block;
      & > label {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      input[type=text] {
        width: 60%;
      }
    }
  }
}
