@import 'common';

html, body {
  margin: 0;
  width: 4 * $canvas-width + 3 * $canvas-gap;
  height: 4 * $canvas-height + 3 * $canvas-gap;
}

body {
  font-size: $default-font-size;
  font-family: "Fira Code", monospace;
  // this color will be changed to 'transparent' by default in OBS.
  background-color: black;
}

address {
  position: relative;
  font-style: inherit;
  .link-list {
    a:after {
      content: ',';
    }
    a.head:after {
      content: ':';
    }
    a:last-child:after {
      content: '';
    }
    // remove underline on the separators
    a:after {
      display: inline-block;
    }
  }
  .align-right {
    position: absolute;
    right: 0;
  }
}
sub {
  vertical-align: baseline;
  font-size: x-small;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.inline {
  display: inline;
}
.normal-font-size {
  font-size: 1em;
}
.version {
  font-family: sans-serif;
}

#canvas-container {
  // these makes gaps between canvas to be always 8px
  letter-spacing: $canvas-gap - 10px;
  line-height: 2 * $canvas-gap + 10px;
  // ensure contrast of fallback text on default black background
  canvas {
    color: grey;
  }
}

.control-panel {
  $control-panel-font-size: 14px;
  font-size: $control-panel-font-size;
  position: fixed;
  top: 2 * $canvas-height + $canvas-gap;
  left: $canvas-width;
  width: 2 * ( $canvas-width + $canvas-gap ) - $default-font-size;
  height: 2 * ( $canvas-height + $canvas-gap ) - $default-font-size;
  padding: 0.5 * $default-font-size;
  overflow-y: scroll;
  background-color: gray;
  border-radius: 0 8px 8px;
  
  & > div {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
    &:last-of-type, &.no-divider {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    &.vertical-space-but-no-divider {
      padding: 0.5em 0;
      border-bottom: 0;
    }
    &.after-margin {
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
    }
    &.top-divider {
      padding-top: 0.5em;
      margin-top: 0.5em;
      border-top: 1px solid black;
    }
    &.va-top {
      vertical-align: top;
    }
    &.half-width {
      width: 48%;
      display: inline-block;
    }
  }
  
  b {
    // control panel section name
    display: block;
    margin-bottom: 0.5em;
    &.inline {
      display: inline;
    }
  }
  label {
    display: inline-block;
  }
  address {
    a {
      color: #171717;
    }
  }
  
  .after-margin {
    margin-bottom: 0.25em;
  }
  span.after-margin {
    display: block;
  }
  .full-width {
    display: block;
  }
  .inactive {
    display: none;
  }
  .description {
    font-size: 0.8em;
    b {
      // title of a description
      display: inline;
    }
  }
  .caution {
    background-color: #c1c08b;
    border-radius: 8px;
    &:before {
      content: '⚠️ ';
    }
  }
  
  @media (max-height: 599px) and (orientation: landscape) {
    & {
      height: auto;
      bottom: 0;
    }
  }
}
