@import 'common';

body {
  margin: 0;
  width: 4 * $canvas-width + 3 * $canvas-gap;
  height: 4 * $canvas-height + 3 * $canvas-gap;
  font-size: $default-font-size;
  font-family: "Fira Code", monospace;
  // this color will be changed to 'transparent' by default in OBS.
  background-color: black;
}

#canvas-container {
  // these makes gaps between canvases to be always 8px
  letter-spacing: $canvas-gap - 10px;
  line-height: 2 * $canvas-gap + 10px;
}

.control-panel {
  $control-panel-font-size: 14px;
  font-size: $control-panel-font-size;
  position: fixed;
  top: 2 * $canvas-height + $canvas-gap;
  left: 2 * $canvas-width + $canvas-gap;
  width: 2 * ( $canvas-width + $canvas-gap ) - $default-font-size;
  height: 2 * ( $canvas-height + $canvas-gap ) - $default-font-size;
  padding: 0.5 * $default-font-size;
  overflow-y: scroll;
  background-color: gray;
  border-radius: 0 8px 8px;
  
  & > div {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
    &:last-of-type, &.no-divider {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    &.after-margin {
      margin-bottom: 0.5em;
    }
    &.top-divider {
      padding-top: 0.5em;
      margin-top: 0.5em;
      border-top: 1px solid black;
    }
    &.va-top {
      vertical-align: top;
    }
    &.half-width {
      width: 48%;
      display: inline-block;
    }
  }
  
  .after-margin {
    margin-bottom: 0.25em;
  }
  .full-width {
    display: block;
  }
  .inactive {
    display: none;
  }
  .description {
    font-size: 0.8em;
  }
  
  h1 {
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.5em;
  }
  label {
    display: inline-block;
  }
}
