$cellSize: 1.25em;
$thumbSize: 3.4em;
$oneCharMargin: 0.22;
$twoCharMargin: 0;
$twoCharHoriMargin: 0.0375;
$wideHorizontalArrowsMargin: 0.15;
$wideVerticalArrowsMargin: 0.15;
$thumbMargin: 0.04;

$shadowValue: 0px 0px 3px;

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  border-radius: $r;
}

@mixin positionGrid($x, $y) {
  left: $x * $cellSize;
  top: $y * $cellSize;
}
@mixin position2v($x, $y, $itemU, $itemD) {
  &:#{$itemU} { @include positionGrid($x, $y); }
  &:#{$itemD} { @include positionGrid($x, $y+1); }
}
@mixin position2h($x, $y, $itemL, $itemR) {
  &:#{$itemL} { @include positionGrid($x, $y); }
  &:#{$itemR} { @include positionGrid($x+2, $y); }
}
@mixin position2h-narrow($x, $y, $itemL, $itemR) {
  &:#{$itemL} { @include positionGrid($x, $y); }
  &:#{$itemR} { @include positionGrid($x+2-$twoCharHoriMargin, $y); }
}
@mixin position3($x, $y, $itemU, $itemL, $itemR) {
  &:#{$itemU} { @include positionGrid(($x+1), $y); }
  &:#{$itemL} { @include positionGrid($x, ($y+1)); }
  &:#{$itemR} { @include positionGrid(($x+2-$twoCharHoriMargin), ($y+1)); }
}
@mixin position4($x, $y, $itemU, $itemL, $itemR, $itemD) {
  @include position3($x, $y, $itemU, $itemL, $itemR);
  &:#{$itemD} { @include positionGrid(($x+1), ($y+2)); }
}
@mixin position4-wide-vertical-arrows($x, $y, $itemU, $itemL, $itemR, $itemD) {
  &:#{$itemU} { @include positionGrid(($x+1-$wideVerticalArrowsMargin), $y); }
  &:#{$itemL} { @include positionGrid(($x - $wideHorizontalArrowsMargin), ($y+1)); }
  &:#{$itemR} { @include positionGrid(($x+2-$wideHorizontalArrowsMargin), ($y+1)); }
  &:#{$itemD} { @include positionGrid(($x+1-$wideVerticalArrowsMargin), ($y+2)); }
}

body {
  background-color: black;
  line-height: 1em;
  margin: 0;
  font-family: "Fira Code", monospace;
}

div[id^="gp"] {
  text-shadow: $shadowValue black;
  width: 178px;
  height: 77px;

  div.buttons {
    span.button {
      position: fixed;
      background: url(../dot.png);
      background-repeat: no-repeat;
      background-size: 0% 0%;
      background-position: 0% 0%;
      @include border-radius(4px);
    }
  }
  div.axes {
    span.axis {
      display: block;
      position: fixed;
      box-shadow: $shadowValue black;
      width: $thumbSize;
      height: $thumbSize;
      border: 1px solid;
      @include border-radius(100%);
      span {
        display: block;
        position: relative;
        box-shadow: $shadowValue #404040;
        background: url(../dot.png);
        @include border-radius(100%);
      }
    }
  }

  /*
  Id:       Xbox 360 Controller (XInput STANDARD GAMEPAD)
  Buttons:  0A 1B 2X 3Y 4LB 5RB 6LT 7RT 8Select 9Start 10LThumb 11RThumb 12DPadU 13DPadD 14DPadL 15DPadR
  Axes:     0LThumbX 1LThumbY 2RThumbX 3RThumbY
  */
  &[class="Microsoft Controller (STANDARD GAMEPAD Vendor: 045e Product: 02d1)"],
  &[class="Xbox 360 Controller (XInput STANDARD GAMEPAD)"],
  &[class="xinput"] {
    div.buttons {
      span.button {
        @include position4(6+$oneCharMargin, 1, nth-child(4), nth-child(3), nth-child(2), nth-child(1));
        @include position2h-narrow(0, 0, nth-child(7), nth-child(5));
        @include position2h-narrow(6, 0, nth-child(6), nth-child(8));
        @include position3(3, 1, nth-child(17), nth-child(9), nth-child(10));
        @include position4-wide-vertical-arrows(0+$oneCharMargin, 1, nth-child(13), nth-child(15), nth-child(16), nth-child(14));
      }
    }
    div.axes {
      span.axis {
        &:nth-child(1) {
          @include positionGrid(0+$thumbMargin, 1);
        }
        &:nth-child(2) {
          @include positionGrid(6+$thumbMargin, 1);
        }
      }
    }
  }
  
  /*
  Id:       Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)
  Buttons:  0X 1O 2[] 3/\ 4LB 5RB 6LT 7RT 8Share 9Option 10LThumb 11RThumb 12DPadU 13DPadD 14DPadL 15DPadR 16PS 17TouchClick
  Axes:     0LThumbX 1LThumbY 2RThumbX 3RThumbY
  */
  &[class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 05c4)"],
  &[class="Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"],
  &[class="Sony Interactive Entertainment Wireless Controller (STANDARD GAMEPAD Vendor: 054c Product: 09cc)"] {
    div.buttons {
      span.button {
        @include position4(6+$oneCharMargin, 1, nth-child(4), nth-child(3), nth-child(2), nth-child(1));
        @include position2h-narrow(0, 0, nth-child(7), nth-child(5));
        @include position2h-narrow(6, 0, nth-child(6), nth-child(8));
        &:nth-child(9) {
          @include positionGrid(3, 2);
        }
        &:nth-child(10) {
          @include positionGrid(5, 2);
        }
        @include position4-wide-vertical-arrows(0+$oneCharMargin, 1, nth-child(13), nth-child(15), nth-child(16), nth-child(14));
        &:nth-child(17) {
          @include positionGrid(4, 3);
        }
        &:nth-child(18) {
          @include positionGrid(4, 2);
        }
      }
    }
    div.axes {
      span.axis {
        &:nth-child(1) {
          @include positionGrid(0+$thumbMargin, 1);
        }
        &:nth-child(2) {
          @include positionGrid(6+$thumbMargin, 1);
        }
      }
    }
  }

  &[class="Unknown Gamepad (Vendor: 0000 Product: 0000)"] {
    display: none;
  }
}
